<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>Pokemon List</title>
</head>
<body>
    <h1>Pokemon List</h1>

    <ul>
    {% for pokemon in pokemon_list %}
        <li>
            {{ pokemon.category.name }}
            {{ pokemon.name }}
            {% if pokemon.photo %}  {# 저장된 경로가 있다면? => 문자열의 bool과 유사한 판단 #}
                <img src="{{ pokemon.photo.url }}" style="width: 100px;" />
            {% endif %}
            <a href="{{ pokemon.page_url }}" target="_blank">
                바로가기
            </a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
