<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>Pokemon List</title>
<style>
</style>
</head>
<body>
    <h1>Pokemon List</h1>

    <div id="wrapper"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $.get("/pokemon/pokemon_list.html")
            .then(function (html) {
                $('#wrapper').html(html);
            });
        // 직접 JS코드를 작성할 때에는 ES5 기준으로 작성하여야 합니다.
        // document.getElementById("wrapper").innerHTML = "안녕";

    </script>

</body>
</html>
